<form action="/boards" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= from_authenticity_token%>">
  <br><input type="text" name="title"><br />
  <br><textarea name="contents" rows="8" cols="80"></textarea><br />
  <input type="submit" value="작성하기">
</form>
